<div>
  <form [formGroup]="signInForm" (ngSubmit)="login()">
    <mat-form-field>
      <input matInput type="email" id="email" class="input" placeholder="Email" formControlName="email" >
      <mat-error *ngIf="formErrors.email" type="error" class="notification is-danger">
        {{ formErrors.email }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" id="password" class="input" placeholder="Password" formControlName="password" >
      <mat-error *ngIf="formErrors.password" class="notification is-danger">
        {{ formErrors.password }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <button type="submit" class="button" [disabled]="!userForm.valid">Submit</button>
    </mat-form-field>
  </form>
</div>
