<div>
  <div class="md-toolbar-tools">
    <h2>Přihlášení</h2>
    <br>
    <!--<span class="flex"></span>-->
    <!--<button mat-icon-button (click)="closeDialog()">-->
    <!--<mat-icon>clear</mat-icon>-->
    <!--</button>-->
  </div>
</div>
<mat-dialog-content>
  <form [formGroup]="signInForm" (ngSubmit)="login()">
    <div class="row">
      <mat-form-field>
        <input matInput type="email" id="email" class="input" placeholder="Email" formControlName="email">
        <mat-error *ngIf="formErrors.email" type="error" class="notification is-danger">
          {{ formErrors.email }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <input matInput type="password" id="password" class="input" placeholder="Password" formControlName="password">
        <mat-error *ngIf="formErrors.password" class="notification is-danger">
          {{ formErrors.password }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <button mat-raised-button type="submit" class="button" [disabled]="!signInForm.valid">Přihlásit</button>
      <button mat-raised-button mat-dialog-close class="button">Zavřít</button>
    </div>
  </form>
</mat-dialog-content>
