<div class="row">
  <div class="col-md-6">
    <h1>Pravidla akce</h1>
    <ol>
      <li>V celém areálu gymnázia je zakázáno kouřit (vodní dýmky, e-cigarety a vape nevyjímaje), požívat alkoholické
        nápoje a užívat návykové látky.
      </li>
      <li>Mimo vymezené oblasti je dovolen pohyb pouze lidem s příslušným barva náramkem, které budou udělovat
        organizátoři akce.
      </li>
      <li>Vymezené oblasti: učebny s čísly........, jídelna, tělocvična, aula, přilehlé toalety a chodby mezi těmito
        místnostmi. Všechno bude pečlivě a zřetelně označeno.
      </li>
      <li>Se zařízeními v učebnách mohou manipulovat pouze osoby s příslušným barva náramkem, které budou udělovat
        organizátoři.
      </li>
      <li>Každý z účastníků je povinen nahlásit případné porušení těchto pravidel.</li>
    </ol>

    <p>Porušení některého nebo více pravidel, bude trestáno nejdříve varováním, poté odebráním přístupu do budovy (v
      případě 1. okamžitým odebráním přístupu) a to bez nároku na návrat jakéhokoli z poplatků.</p>

    <p>Zaplacením registračního poplatku se účastník zavazuje, že případné škody způsobené nedodržováním pravidel nebo
      nevhodným chováním, uhradí v plné výši.</p>

  </div>
</div>
