<div class="container">
  <h1>Pravidla akce</h1>
  <br />
 <ul>
   <li>V celém areálu je zakázáno kouřit (vodní dýmky a vape nevyjímaje), používat alkoholické nápoje a užívat návykové látky
   </li>
   <li>Zákaz vstupu do učeben, které nebudou značeny jako součástí akce, bez souhlasu organizátorů.
   </li>
   <li>Se zařízeními v učebnách mohou manipulovat pouze přednášející osoby a organizátoři.</li>
   <li>Každý z účastníků je povinen nahlásit případné porušení těchto pravidel.
   </li>
 </ul>
</div>
