<div class="container">
  <h1 class="align-self-center">Partneři akce</h1>
  <p>
    Pokud chcete podpořit naši akci, napište nám na email: <b>prednaskovy.maraton@gmail.com</b>. Velice děkujeme i za
    vyjádření podpory nebo pomoc při propagaci akce.
  </p>
  <br>
  <h3>Zlatý partner</h3>
  <br>
  <a class="btn btn-primary center-block" style="width: 200px" href="mailto:prednaskovy.maraton@gmail.com" role="button">
    Stát se zlatým partnerem
  </a>
  <hr>
  <h3>Stříbrný partner</h3>
  <br>
  <a class="btn btn-primary center-block" style="width: 200px" href="#" role="button">
    Stát se stříbrným partnerem
  </a>
  <hr>
  <h3>Bronzoví partneři</h3>
  <br>
  <div>
    <img class="center-block" width="300px" src="../../../../assets/img/tunkl-png.png" alt="Tunkl production">
  </div>
  <br><br>
  <a class="btn btn-primary center-block" style="width: 200px" href="#" role="button">
    Stát se bronzovým partnerem
  </a>
  <hr>
  <h3>Mediální partneři</h3>
  <br>
  <a class="btn btn-primary center-block" style="width: 200px" href="#" role="button">
    Stát se mediálním partnerem
  </a>
</div>
