<!-- Example row of columns -->
<div class="poster-container">
  <img src="assets/img/uvodka.png" class="poster" alt="Přednáškový maraton 2020"/>
</div>

<div class="row about-header">
  <h2>O akci</h2>
</div>
<div class="row about">
  <p style="font-weight: bold">
    Přednáškový maraton je komunitní akce, na které přednášejí odborníci i laici pro veřejnost.
    Témata přednášek nejsou nijak omezena a i proto je to jedinečná akce v regionu i v celé republice.
    Akce bude probíhat o víkendu 20.-22.1. v budově zábřežského gymnázia. Nebojte se přijít klidně i na jedinou přednášku, vstup není nijak omezen.
    Letos se uskuteční již desátý ročník této akce.
  </p>
  <p style="font-weight: bold">
    Připravili jsme si pro vás hlavní a vedlejší program. V rámci hlavního programu se můžete těšit na nejlepší
    přednášky z minulých let a prémiové přednášky od významých osob ve svých oborech. Ve vedlejším programu budou
    přednášky od laiků a nadšenců, kteří by se rádi podělili o své znalosti a poznatky z nejrůznějších oborů.
  </p>
  <div>
    <a href="https://www.facebook.com/events/697110898191484">
      <img src="assets/img/fb.png" width="24" style="float: left; margin-right: 7px;"/>
      Facebook událost
    </a>
  </div>
</div>
<div class="row about-header">
  <h2>Podrobnosti</h2>
</div>
<div class="row">
  <div class="col-md-4">
    <h3>Místo konání</h3>
    <p>Akce se koná v budově zábřežského gymnázia. Adresa gymnázia je nám. Osvobození 20, 78901 Zábřeh (dolní
      náměstí).</p>
    <p>
      <a class="btn btn-default btn-primary"
         href="https://mapy.cz/zakladni?x=16.8769282&y=49.8809737&z=17&source=firm&id=151363" role="button">Ukázat na
        mapě »</a>
    </p>
  </div>
  <div class="col-md-4">
    <h3>Přednášky</h3>
    <p>Přednášky budou probíhat po celou dobu akce. Ty nejzajímavější se budou konat v aule gymnázia, ale zároveň budou probíhat i další přednášky ve vedlejších učebnách
    a také spoustu dalšího doprovodného programu po celý den.</p>
    <p>
      <a class="btn btn-default btn-primary" routerLink="/talks">Program přednášek »</a>
    </p>
    <!--<p><a class="btn btn-default btn-primary" href="#" role="button" disabled="true">Hlasování »</a></p>-->
    <!--<p><i>Hlasování spustíme až pro vás budeme mít nachystaných alespoň několik přednášek</i></p>-->
  </div>
  <div class="col-md-4">
    <h3>Přespání</h3>
    <p>Pro zájemce je zde možnost přespání přímo v budově gymnázia. Pokud máte o tuto možnost zájem, tak se registrujte.</p>
    <a class="btn btn-default btn-primary" routerLink="/sign-up">Registrace »</a>&nbsp;
  </div>
</div>
<!--<div class="row about-header">-->
<!--  <h2>Partneři</h2>-->
<!--</div>-->
<!--<div class="row">-->
<!--  <div class="col-md-6">-->
<!--    <p><a href="https://www.brnoc.cz/" target="_blank">-->
<!--      <img src="assets/img/BrNOC.jpg">-->
<!--    </a></p>-->

<!--  </div>-->
<!--  <div class="col-md-6">-->
<!--    <p><a href="https://bmp-events.cz/" target="_blank">-->
<!--      <img src="assets/img/bmp_events.png">-->
<!--    </a></p>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="row">-->
<!--  <div class="col-md-6">-->
<!--    <a href="https://www.kudyznudy.cz/?utm_source=kzn&utm_medium=partneri_kzn&utm_campaign=banner" title="Kudyznudy.cz - tipy na výlet" target="_blank"> <img src="https://www.kudyznudy.cz/KzN/media/Onas/bannery/KzN_banner_250x250.jpg" width="250"  height="250" border="0" alt="Kudyznudy.cz - tipy na výlet"> </a>-->
<!--  </div>-->
<!--</div>-->
<div class="row about-header">
  <h2>Poděkování</h2>
</div>
<div class="row">
  <div class="col-md-4">
    <p><a href="https://gyza.cz/" target="_blank">
      <img src="assets/img/gyza.jpg">
    </a></p>
  </div>

  <div class="col-md-8">
    <p><a href="http://www.zabreh.cz/zpravodaj/ds-1007" target="_blank">
      <img style="width:100%" src="assets/img/zpravodaj.png">
    </a></p>
  </div>
</div>
