<div class="md-toolbar-tools">
  <h2>Přihlášení</h2>
  <br>
  <!--<span class="flex"></span>-->
  <!--<button mat-icon-button (click)="closeDialog()">-->
  <!--<mat-icon>clear</mat-icon>-->
  <!--</button>-->
</div>
<mat-dialog-content>
  <button (click)="signInWithGoogle()" class="button btn-social btn-google">
    <i class="fa fa-google-plus fa-lg"></i> Přihlásit se přes účet Google
  </button>

  <!--<button (click)="signInWithFacebook()" class="button btn-social btn-facebook">-->
  <!--<i class="fa fa-facebook fa-lg"></i> Přihlásit se přes účet Facebook-->
  <!--</button>-->

  <hr>
  <form [formGroup]="signInForm" (ngSubmit)="login()">
    <div class="row">
      <mat-form-field>
        <input matInput type="email" id="email" class="input" placeholder="Email" formControlName="email">
        <mat-error *ngIf="formErrors.email" type="error" class="notification is-danger">
          {{ formErrors.email }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <input matInput type="password" id="password" class="input" placeholder="Password" formControlName="password">
        <mat-error *ngIf="formErrors.password" class="notification is-danger">
          {{ formErrors.password }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <button mat-raised-button type="submit" class="button" [disabled]="!signInForm.valid">Přihlásit</button>
      <button mat-raised-button mat-dialog-close class="button">Zavřít</button>
    </div>
    <ngb-alert type="danger" *ngIf="isUnknownError">
      Neznámá chyba
    </ngb-alert>
    <ngb-alert type="danger" *ngIf="isInvalidCredentials">
      Neplatné přihlašovací údaje
    </ngb-alert>
  </form>
</mat-dialog-content>
