.addTalk {
  padding: 5px;
  width: 400px;
}

.select {
  width: 300px;
  display: block;
}

.uploading {
  display: block;
  border: 1px solid yellow;
  padding: 15px;
  margin: 15px;
  background: floralwhite;
}
