.navbar-brand {
  text-decoration: underline;
}

.loggedUser {
  margin: 15px;
}

.active {
  color: rgba(0, 0, 0, 0.9)
}

.jumbotron {
  background: url('../../../../assets/img/maraton_title.jpg') no-repeat;
  background-size: cover;
}
