<div>
  <div class="header">
    <h2>Přidání přednášky</h2>
  </div>
  <mat-dialog-content>
    <div class="uploading" *ngIf="isUploading">
      Nahrávám
    </div>
    <form [formGroup]="addTalkForm">
      <mat-form-field>
        <input matInput class="addTalk" placeholder="Název přednášky*" formControlName="name" width="400px">
        <mat-error *ngIf="addTalkForm.controls['name'].hasError('required') &&
          addTalkForm.controls['name'].touched">
          Pole je povinné
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Popis přednášky" formControlName="description" rows="10" cols="200">
        </textarea>
      </mat-form-field>
      <mat-form-field class="select">
        <mat-select placeholder="Délka trvání*" formControlName="duration">
          <mat-option *ngFor="let duration of durations" [value]="duration.value">
            {{ duration.value }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="addTalkForm.controls['duration'].hasError('required') &&
          addTalkForm.controls['duration'].touched">
          Pole je povinné
        </mat-error>
      </mat-form-field>
      <mat-form-field class="select">
        <mat-select placeholder="Linie (kategorie) přednášky*" formControlName="lineId">
          <mat-option *ngFor="let line of lines" [value]="line.id">
            {{ line.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="addTalkForm.controls['lineId'].hasError('required') &&
          addTalkForm.controls['lineId'].touched">
          Pole je povinné
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Poznámka pro pořadatele" formControlName="noteForOrg" rows="6" cols="200">
        </textarea>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      mat-raised-button
      (click)="createTalk()"
      [disabled]="!addTalkForm.valid">{{talk?'Upravit':'Přidat'}}
      přednášku
    </button>
    <button mat-raised-button mat-dialog-close>Zrušit</button>
  </mat-dialog-actions>
</div>
