<div class="profile" *ngIf="user && profileForm">
  <div class="userContainer">
    <p *ngIf="!hasAllObligatoryFields()">
      Vyplňte prosím všechna povinná pole.
    </p>

    <form [formGroup]="profileForm">
      <ngb-alert style="position: sticky;top: 0" type="success" *ngIf="savedNotice">
        <strong>
          Vaše změny byly úspěšně uloženy.
        </strong>
      </ngb-alert>
      <!--<ngb-alert type="warning" [dismissible]="false">-->
      <!--<strong>-->
      <!--Registrace přednášek a stravy byla ukončena. V případě dotazů či žádosti o dodatečnou úpravu nás kontaktujte.-->
      <!--</strong>-->
      <!--</ngb-alert>-->
      <h1>Profil uživatele</h1>
      <div class="row">
        <div class="col-md-12">
          <mat-form-field>
            <input matInput type="text" id="name" class="input" placeholder="Nick nebo jméno" formControlName="name">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <mat-form-field>
            <input matInput type="text" id="email" class="input" placeholder="email" formControlName="email">
          </mat-form-field>
        </div>
      </div>
      <div
        *ngIf="user.willAttend && !registrationClosed"
      >
        <div class="row">
          <div class="col">
            <p><strong>Vstup na akci je zdarma.</strong>
              <br>Přespání je zpoplatněno 200 Kč při platbě předem, 250 při platbě na místě.</p>
            <div class="row">
              <div class="col-md-10">
                <strong>Budu přespávat:</strong>
              </div>
              <div class="col-md-2">
                <mat-checkbox name="willSleep" formControlName="willSleep"></mat-checkbox>
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-md-12">
                <strong>Stravování:</strong>
              </div>
            </div>
            <div class="row">
              Jídlo pro vás ještě připravujeme.
            </div>
            <div hidden>
              <div class="row">
                <div class="col-md-10">
                  Pátek večeře - párky + pečivo {{pricelist['pavecere']}} Kč:
                </div>
                <div class="col-md-2">
                  <mat-checkbox
                    name="pavecere"
                    formControlName="pavecere"></mat-checkbox>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  Sobota snídaně - buchta s jablkem {{pricelist['sosnidane']}} Kč:
                </div>
                <div class="col-md-2">
                  <mat-checkbox
                    name="sosnidane"
                    formControlName="sosnidane"></mat-checkbox>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  Sobotní oběd - špagety {{pricelist['sobed']}} Kč:
                </div>
                <div class="col-md-2">
                  <mat-checkbox
                    name="sobed"
                    formControlName="sobed"></mat-checkbox>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  Sobotní večeře - rizoto {{pricelist['sovecere']}} Kč:
                </div>
                <div class="col-md-2">
                  <mat-checkbox
                    name="sovecere"
                    formControlName="sovecere"></mat-checkbox>
                </div>
              </div>
            </div>
            <br><br>
            <div class="row">
              <div class="col-md-10">
                Jsem student střední/vysoké školy:
              </div>
              <div class="col-md-2">
                <mat-checkbox name="student" formControlName="student"></mat-checkbox>
              </div>
            </div>
            <br>
            <div
              *ngIf="user.email && getAmount()"
              class="row">
              <div class="col">
                <p><strong>Poplatek zašlete na účet 2900784428/2010. Do poznámky zadejte svůj email.</strong></p>
              </div>
            </div>
            <div
              *ngIf="user.email && getAmount()"
              class="row">
              <div class="col">
                <p><strong>Cena {{getAmount()}} Kč</strong></p>
                <p>
                  <img
                    alt="qr platba"
                    src="https://api.paylibo.com/paylibo/generator/czech/image?accountNumber=2900784428&bankCode=2010&amount={{getAmount()}}.00&currency=CZK&vs=2023&message={{user.email}}&size=350">
                </p>
              </div>
            </div>
            <br/>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="ownTalks">
    <h1>Moje přednášky</h1>
  </div>
  <div *ngIf="user !== null" class="row m-2 mb-3">
    <!--<ngb-alert type="warning" [dismissible]="false">-->
    <!--<strong>-->
    <!--Registrace přednášek a stravy byla ukončena. V případě dotazů či žádosti o dodatečnou úpravu nás kontaktujte.-->
    <!--</strong>-->
    <!--</ngb-alert>-->
    <button mat-raised-button (click)="openAddTalkDialog()">Přidat přednášku</button>
  </div>
  <div class="row">
    <app-talk-preview
      *ngFor="let talk of myOrderedTalks"
      [talk]="talk"
      [user]="user"
    ></app-talk-preview>
  </div>
</div>
