<div class="profile" *ngIf="user">
  <div class="userContainer">
    <p *ngIf="!hasAllObligatoryFields()">
      Vyplňte prosím všechna povinná pole.
    </p>

    <form [formGroup]="profileForm">
      <ngb-alert type="danger" *ngIf="hasAllObligatoryFields() && !user.willAttend">
        <p>Nemáte ještě potvrzenou osobní účast na akci. Pomocí tlačítka níže potvrďte prosím Vaši účast.</p>
        <br>
        <button mat-raised-button (click)="save()">Potvrdit účast na akci</button>
      </ngb-alert>
      <ngb-alert type="success" *ngIf="savedNotice">
        <strong>
          Vaše změny byly úspěšně uloženy.
        </strong>
      </ngb-alert>
      <!--<ngb-alert type="warning" [dismissible]="false">-->
      <!--<strong>-->
      <!--Registrace přednášek a stravy byla ukončena. V případě dotazů či žádosti o dodatečnou úpravu nás kontaktujte.-->
      <!--</strong>-->
      <!--</ngb-alert>-->
      <h1>Profil uživatele</h1>
      <div class="row">
        <div class="col-md-12">
          <mat-form-field>
            <input matInput type="text" id="name" class="input" placeholder="Nick nebo jméno*" formControlName="name">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <mat-form-field>
            <input matInput type="text" id="email" class="input" placeholder="email" formControlName="email">
          </mat-form-field>
        </div>
      </div>
      <div
        *ngIf="user.willAttend && !registrationClosed"
      >

        <div class="row">
          <div class="col-md-12">
            Stravování:
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            Pátek večeře - párky + pečivo 30 Kč:
          </div>
          <div class="col-md-2">
            <mat-checkbox
              name="pavecere"
              formControlName="pavecere"></mat-checkbox>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            Sobota snídaně - buchta s jablkem 20 Kč:
          </div>
          <div class="col-md-2">
            <mat-checkbox
              name="sosnidane"
              formControlName="sosnidane"></mat-checkbox>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            Sobotní oběd - špagety 40 Kč:
          </div>
          <div class="col-md-2">
            <mat-checkbox
              name="sobed"
              formControlName="sobed"></mat-checkbox>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            Sobotní večeře - rizoto 35 Kč:
          </div>
          <div class="col-md-2">
            <mat-checkbox
              name="sovecere"
              formControlName="sovecere"></mat-checkbox>
          </div>
        </div>
      </div>
      <br>
      <div *ngIf="user.willAttend" class="row">
        <div class="col-md-10">
          Jsem student střední/vysoké školy:
        </div>
        <div class="col-md-2">
          <mat-checkbox name="student" formControlName="student"></mat-checkbox>
        </div>
      </div>
      <div
        *ngIf="!(hasAllObligatoryFields() && !user.willAttend)"
        class="row">
        <div class="col">
          <p>&nbsp;</p>
          <p><strong>Vstup na akci není nijak zpoplatněn, či omezen.
            <br> Přespání (na sobotu i neděli dohromady) je zpoplatněno 100 Kč při platbě předem, 150 Kč při platbě na místě.
          <br>Po potvrzení účasti ve svém profilu zašlete 100 Kč + další poplatky na účet 2900784428/2010. Do poznámky zadejte svůj email.</strong></p>
        </div>
      </div>
      <br>
      <div class="row">
        <button mat-raised-button *ngIf="user.willAttend" (click)="save()">Uložit změny</button>
        <button mat-raised-button *ngIf="user.willAttend" (click)="cancelRegistration()">Zruš registraci
        </button>
        <button mat-raised-button *ngIf="!user.willAttend" (click)="save()">Potvrdit účast</button>
        <div *ngIf="!user.willAttend">* Pro změnu údajů je potřeba potvrdit účast na akci</div>
      </div>
    </form>
  </div>
  <div class="ownTalks">
    <h1>Moje přednášky</h1>
    <div class="row">
      <h2>Registrované přednášky</h2>
    </div>
    <div *ngIf="user !== null" class="row m-2 mb-3">
      <!--<ngb-alert type="warning" [dismissible]="false">-->
      <!--<strong>-->
      <!--Registrace přednášek a stravy byla ukončena. V případě dotazů či žádosti o dodatečnou úpravu nás kontaktujte.-->
      <!--</strong>-->
      <!--</ngb-alert>-->
      <button mat-raised-button (click)="openAddTalkDialog()">Přidat přednášku</button>
    </div>
    <div class="row">
      <app-talk-preview
        *ngFor="let talk of myOrderedTalks"
        [talk]="talk"
        [user]="user"
      ></app-talk-preview>
    </div>
  </div>
</div>
