<div class="container">
  <h1>Warm up a overtime</h1>
  <p>
    Minulé ročníky Přednáškového maratonu probíhali non-stop od pátku do neděle. Letos jsme se rozhodli mírně změnit
    tento
    model a nachystali jsme hlavní sobotní program pro veřejnost. Přesto o maraton jako takový nepřijdete, pro zájemce
    chystáme Přednáškový maraton jak ho znáte. Pokud chcete dorazit už v pátek a zůstat do neděle, tak se stačí
    zaregistrovat!
  </p>
  <p><strong>
    Registrace na víkendovou část je zpoplatněna částkou 100Kč při platbě předem, 150Kč při platbě na místě. Registrace
    budeme odbavovat
    individuálně pomocí emailu.
  </strong>
  </p>
  <a class="btn btn-default btn-primary" routerLink="/sign-up">Registrace</a>&nbsp;
  <a class="btn btn-default btn-primary" (click)="openSignInDialog()" href="javascript:">Přihlásit se</a>

</div>
