<!-- Example row of columns -->
<div class="row about">
  <h2>O akci</h2>
  <p style="font-weight: bold">
    Přednáškový maraton je unikátní akce, na které se setkávají jak odborníci tak laici z různých oborů a navzájem si
    vyměňují své zkušenosti a znalosti. Letos se uskuteční již osmý ročník této akce. Ani my, organizátoři, ještě
    nevíme, jaké přednášky nás letos čekají a jaké bude primární téma akce. Každý účastník si může registrovat svoji
    přednášku.
  </p>
  <!--<div>-->
  <!--<a href="https://www.facebook.com/events/1516660238418512">-->
  <!--Facebook událost-->
  <!--</a>-->
  <!--</div>-->
</div>
<br><br>
<div class="row">
  <div class="col-md-4">
    <h2>Místo konání</h2>
    <p>Akce se koná v budově zábřežského gymnázia. Adresa Gymnázia je Nám. Osvobození 20, 78901 Zábřeh (dolní
      náměstí).</p>
    <p>
      <a class="btn btn-default btn-primary"
         href="https://mapy.cz/zakladni?x=16.8769282&y=49.8809737&z=17&source=firm&id=151363" role="button">Ukázat na
        mapě »</a>
    </p>
  </div>
  <div class="col-md-4">
    <h2>Přednášky</h2>
    <p>Celá akce se skládá z několika přednášek. V aule gymnázia bude probíhat hlavní program a zároveň budou v
      některých učebnách připravené další přednášky pokud vás nezaujme hlavní program.</p>
    <p>
      <a class="btn btn-default btn-primary" routerLink="/talks">Program přednášek »</a>
    </p>
    <!--<p><a class="btn btn-default btn-primary" href="#" role="button" disabled="true">Hlasování »</a></p>-->
    <!--<p><i>Hlasování spustíme až pro vás budeme mít nachystaných alespoň několik přednášek</i></p>-->
  </div>
  <div class="col-md-4">
    <h2>Warm-up and Overtime</h2>
    <p>Pro zájemce a skalní fanoušky akce chystáme program na pátek a neděli.</p>
    <p>
      <a class="btn btn-default btn-primary" routerLink="/warm-up">Více info »</a>
    </p>
  </div>
</div>
<br><br>
<div>
  <h2 class="align-self-center">Partneři akce</h2><br>
  <h3>Zlatý partner</h3><br>
  <a class="btn btn-primary center-block" style="width: 200px" href="#" role="button" routerLink="/partners">Stát se
    zlatým partnerem</a>
  <hr>
  <h3>Stříbrný partner</h3><br>
  <a class="btn btn-primary center-block" style="width: 200px" href="#" role="button" routerLink="/partners">Stát se
    stříbrným partnerem</a>
  <hr>
  <h3>Bronzoví partneři</h3><br>
  <div>
    <img class="center-block" width="300px" src="../../../assets/img/tunkl-png.png" alt="Tunkl production">
  </div>
  <br><br>
  <div>
    <img class="center-block" width="300px" src="../../../assets/img/gimme-event.png" alt="Gimme event">
  </div>
  <br><br>
  <a class="btn btn-primary center-block" style="width: 200px" href="#" role="button" routerLink="/partners">Stát se
    bronzovým partnerem</a>
  <hr>
  <h3>Mediální partneři</h3><br>
  <a class="btn btn-primary center-block" style="width: 200px" href="#" role="button" routerLink="/partners">Stát se
    mediálním partnerem</a>
</div>
