<!-- Example row of columns -->
<div class="poster-container">
  <img src="../../../../assets/img/uvodka.png" class="container" alt="Přednáškový maraton 2019" />
</div>

<div class="row about">
  <h2>O akci</h2>
  <p style="font-weight: bold">
    Přednáškový maraton je unikátní akce, na které se setkávají jak odborníci tak laici z různých oborů a navzájem si
    vyměňují své zkušenosti a znalosti. Letos se uskuteční již osmý ročník této akce.
  </p>
  <p style="font-weight: bold">
    Letos jsme si pro vás připravili hlavní a vedlejší program. V rámci hlavního programu se můžete těšit na nejlepší
    přednášky z minulých let a prémiové přednášky od významých osob ve svých oborech. Ve vedlejším programu budou
    přednášky od laiků a nadšenců, kteří by se rádi podělili o své znalosti a poznatky z nejrůznějších oborů.
  </p>
  <div>
    <a href="https://www.facebook.com/events/2052495348172219">
      Facebook událost
    </a>
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-md-4">
    <h2>Místo konání</h2>
    <p>Akce se koná v budově zábřežského gymnázia. Adresa Gymnázia je Nám. Osvobození 20, 78901 Zábřeh (dolní
      náměstí).</p>
    <p>
      <a class="btn btn-default btn-primary"
         href="https://mapy.cz/zakladni?x=16.8769282&y=49.8809737&z=17&source=firm&id=151363" role="button">Ukázat na
        mapě »</a>
    </p>
  </div>
  <div class="col-md-4">
    <h2>Přednášky</h2>
    <p>Celá akce se skládá z několika přednášek. V aule gymnázia bude probíhat hlavní program a zároveň budou v
      některých učebnách připravené další přednášky pokud vás nezaujme hlavní program.</p>
    <p>
      <a class="btn btn-default btn-primary" routerLink="/talks">Program přednášek »</a>
    </p>
    <!--<p><a class="btn btn-default btn-primary" href="#" role="button" disabled="true">Hlasování »</a></p>-->
    <!--<p><i>Hlasování spustíme až pro vás budeme mít nachystaných alespoň několik přednášek</i></p>-->
  </div>
  <div class="col-md-4">
    <h2>Warm-up and Overtime</h2>
    <p>Pro zájemce a skalní fanoušky akce chystáme program na pátek a neděli.</p>
    <p>
      <a class="btn btn-default btn-primary" routerLink="/warm-up">Více info »</a>
    </p>
  </div>
</div>
