<div class="container talks">
  <div [class.hide]="!(talks | async)">
    <div>
      <h1>Přednášky</h1>
      <div>
        Cílem přednáškového maratonu je vzájemná výměna znalostí. Každý zde může mít svoji přednášku, stejně tak lze navštívit přednášky ostatních lektorů. Většina přednášek spadá dle tématu do své linie. Linie má svého vedoucího a většinou vyčleněnou místnost. Máte-li chuť založit a organizovat svoji linii, kontaktujte organizátory. Každé přednášce můžete dát svůj preferenční bod. Nejvíce žádané přednášky proběhnou v atraktivním čase. Nejméně žádané přednášky mohou být z kapacitních důvodů vyřazeny.
      </div>
      <br>
    </div>
    <div *ngIf="user !== null" class="row m-2 mb-3">
      <!--<ngb-alert type="warning" [dismissible]="false">-->
      <!--<strong>-->
      <!--Registrace přednášek a stravy byla ukončena. V případě dotazů či žádosti o dodatečnou úpravu nás kontaktujte.-->
      <!--</strong>-->
      <!--</ngb-alert>-->
      <button mat-raised-button (click)="openAddTalkDialog()">Přidat přednášku</button>
    </div>
    <div class="talkList">
      <h5 *ngIf="orderedTalksMain.length > 0">Vybrané přednášky</h5>
      <app-talk-preview *ngFor="let talk of orderedTalksMain" [talk]="talk" [user]="user" [showVotes]="!!(authService.userData | async)"></app-talk-preview>

      <p>Dále bude probíhat spousta vedlejších přednášek již od pátečního večera do sobotních ranních hodin. Pokud máte přednášku, kterou byste zde realizovali, tak se nebojte ji přidat.</p>
      <h5>Další přednášky</h5>
      <app-talk-preview *ngFor="let talk of orderedTalksOthers" [talk]="talk" [user]="user" [showVotes]="!!(authService.userData | async)"></app-talk-preview>

      <h5 *ngIf="newAddedTalks.length > 0">Nedávno přidané</h5>
      <app-talk-preview *ngFor="let talk of newAddedTalks" [talk]="talk" [user]="user" [showVotes]="!!(authService.userData | async)"></app-talk-preview>
    </div>
  </div>
  <div *ngIf="!(talks | async)">
    Načítám
  </div>
</div>
