<div class="jumbotron">
  <div class="container">
    <h1 date-e2e="title">Přednáškový maraton 2018</h1>
    <p>23. - 25. 2. 2018 Gymnázium Zábřeh</p>
    <!--<p><a class="btn btn-primary btn-lg" role="button" routerLink="/sign-up">See more »</a></p>-->
  </div>
</div>
  <!-- Example row of columns -->
  <div class="row">
    <h2>O akci</h2>
    <p style="font-weight: bold">
      Přednáškový maraton je unikátní akce, na které se setkávají jak odborníci tak laici z různých oborů a navzájem si vyměňují své zkušenosti a znalosti. Letos se uskuteční již sedmý ročník této akce. Ani my, organizátoři, ještě nevíme, jaké přednášky nás letos čekají a jaké bude primární téma akce. Každý účastník si může registrovat svoji přednášku.
    </p>
  </div>
  <br><br>
  <div class="row">
    <div class="col-md-4">
      <h2>Registrace</h2>
      <p>Registrovat se může každý. Účast je zpoplatněna! Vstupné na akci je 60 Kč. Tuto částku můžete ještě snížit, když si připravíte pro ostatní přednášku. Za každou přednášku nabízíme slevu 30 Kč a za každou připravenou pohybovou aktivitu 15 Kč. Vstupné se platí na místě.</p>
      <p><a class="btn btn-default" href="#" role="button" disabled="true">Registrovat »</a></p>
    </div>
    <div class="col-md-4">
      <h2>Místo konání a ubytování</h2>
      <p>Akce se koná v budově zábřežského gymnázia. Adresa Gymnázia je Nám. Osvobození 20, 78901 Zábřeh (dolní náměstí). Ubytování je zajištěné také v budově Gymnázia. Zájemci o ubytování si dovezou vlastní karimatku a spacák.</p>
      <p><a class="btn btn-default" href="#" role="button" disabled="true">Ukázat na mapě »</a></p>
    </div>
    <div class="col-md-4">
      <h2>Hlasování o přednáškách</h2>
      <p>V případě, že bude zaregistrováno více přednášek, než jaká je kapacita akce (cca 30 přednášek), budeme hlasovat o nejlepší přednášky. Hlasovat může každý registrovaný účastník a může vybrat kolik přednášek bude chtít.</p>
      <p><a class="btn btn-default" href="#" role="button" disabled="true">Hlasování »</a></p>
    </div>
  </div>
  <br><br>
  <div class="row">
    <h2>Partneři akce</h2>
    <h3>Zlatý partner</h3>
    <a class="btn btn-primary center-block" style="width: 200px" href="#" role="button" routerLink="/partners">Stát se zlatým partnerem</a>
    <hr>
    <h3>Stříbrný partner</h3>
    <a class="btn btn-primary center-block" style="width: 200px" href="#" role="button" routerLink="/partners">Stát se stříbrným partnerem</a>
    <hr>
    <h3>Bronzoví partneři</h3>
    <div>
      <img class="center-block" width="300px" src="./assets/img/tunkl-png.png" alt="Tunkl production">
    </div>
    <br><br>
    <div>
      <img class="center-block" width="300px" src="./assets/img/gimme-event.png" alt="Gimme event">
    </div>
    <br><br>
    <a class="btn btn-primary center-block" style="width: 200px" href="#" role="button" routerLink="/partners">Stát se bronzovým partnerem</a>
    <hr>
    <h3>Mediální partneři</h3>
    <a class="btn btn-primary center-block" style="width: 200px" href="#" role="button" routerLink="/partners">Stát se mediálním partnerem</a>
  </div>
